[Unit]
Description=Channelstream

# Requirements
Requires=network.target

# Dependency ordering
After=network.target

[Service]
# Let processes take awhile to start up
TimeoutStartSec=0

RestartSec=10
Restart=always

WorkingDirectory={{ channelstream_rundir }}

Environment="PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:{{ channelstream_virtualenv_dir }}/bin"
User={{ channelstream_user }}
Group={{ channelstream_group }}

KillSignal=SIGQUIT

LimitMEMLOCK=infinity
LimitNOFILE=20480
LimitNPROC=8192


# Main process
ExecStart={{ channelstream_virtualenv_dir }}/bin/channelstream -i config.ini

[Install]
WantedBy=multi-user.target
