[Unit]
Description=Appenlight Celery Beat

# Requirements
Requires=network.target

# Dependency ordering
After=network.target

[Service]
# Let processes take awhile to start up
TimeoutStartSec=0

RestartSec=10
Restart=always

WorkingDirectory={{ appenlight_rundir }}

Environment="PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:{{ appenlight_virtualenv_dir }}/bin"
User={{ appenlight_user }}
Group={{ appenlight_group }}

KillSignal=SIGQUIT

LimitMEMLOCK=infinity
LimitNOFILE=20480
LimitNPROC=8192


# Main process
ExecStart={{ appenlight_virtualenv_dir }}/bin/celery beat -A appenlight.celery --ini {{ appenlight_rundir }}/config.ini

[Install]
WantedBy=multi-user.target
