#jinja2: lstrip_blocks: "True"
{% set vhost_listen = item.listen|string | default(nginx_vhost_default_listen|string) -%}

{% if item.redirect_www_names is defined -%}
    {% for redir_item in item.redirect_www_names %}
        server {
        # to forward www to non-www address
        {% if '443' in vhost_listen -%}
            {% include 'nginx-ssl-template.jinja2' %}
        {% else %}
            listen {{ vhost_listen }};
        {% endif %}
        server_name {{ redir_item.from }};
        rewrite ^ $scheme://{{ redir_item.to }}$request_uri redirect;
        }
    {% endfor %}
{% endif %}

{% if item.upstream_backends is defined -%}
    {% for upstream in item.upstream_backends %}
        upstream {{ upstream.name }} {
        {% for line in upstream.lines %}
            {{ line }};
        {% endfor %}
        }
    {% endfor %}
{% endif %}

{% if item.vhost_custom_lines is defined -%}
    {% for line in item.vhost_custom_lines %}
        {{ line }};
    {% endfor %}
{% endif %}

{% if item.server_names is defined -%}
    server {
    listen {{ vhost_listen }};
    {% if '443' in vhost_listen -%}
        {% include 'nginx-ssl-template.jinja2' %}
    {% endif %}

    server_name {% for name in item.server_names %}{{ name }} {% endfor %};

    root /var/www/{{ item.name }};

    {% if item.no_access_log is defined -%}
        access_log off;
    {% else %}
        access_log /var/log/nginx/{{ item.name }}.access.log;
    {% endif %}

    {%- if item.no_error_log is defined -%}
        error_log off;
    {% else %}
        error_log /var/log/nginx/{{ item.name }}.error.log;
    {% endif %}

    {% if item.server_custom_lines is defined -%}
        {% for line in item.server_custom_lines %}
            {{ line }};
        {% endfor %}
    {% endif %}

    {% if item.locations is defined -%}
        {% for location in item.locations -%}
            {% if location.location_template is defined and location.location_template == 'php' -%}
                {% include 'nginx-php-location.jinja2' %}
            {% else %}
                location {{ location.name }} {
                {% if location.custom_lines is defined -%}
                    {% for line in location.custom_lines %}
                        {{ line }};
                    {% endfor %}
                {% endif %}
                }
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if item.letsencrypt is not defined or item.letsencrypt -%}
        # lets encrypt location
        location /.well-known {
        allow all;
        alias /usr/share/nginx/letsencrypt/.well-known/;
        }
    {% endif %}
    }
{% endif %}
